*{
	color: #444;
	margin:auto;
	display: inline-block;
	font-family: 'Arvo', serif;
}
h1{
	text-align: center;
	/*margin: 10px;*/
}
img{
	margin: 5px 5px 5px 5px;
	display: inline-block;
	float: left;
}
p{
	width: 200px;
	margin:0 10px 10px 10px; 
}
button{

}
#webHeader{
	text-align: center;
	border: solid;
	background-color: #80ceec;
}
.rated{
	float: left;
	margin: 5px;
	display: inline-block;
}
#buttons-view{
	text-align: center;
	margin: 15px;
}
.row{
	margin-left: 0px;
	margin-right: 0px;
}
#input-div{
	padding: 5px;
	text-align: center;
	border-style: solid;
	background-color: #80ceec;							
}
.gif{
	margin: 5px;
}
#gif-view{
	background-color: #80ceec;
	border: solid;
}
.col-md-9{
	margin-left: 0px;
	margin-right:0px;
}
.col-md-3{
	margin-left: 0px;
	margin-right:0px;
}

